#header-section {
  background-image: url(./images/banner/banner2.png);
  width: auto;
  height: auto;
  color: rgb(255, 254, 254);
  font-weight: 700;
  background-repeat: no-repeat;
  padding-bottom: 50%;
margin: 0%;
}
/* Header Section paragraph start*/
#paragraph {
    text-align: center;
    padding-left: 50%;
    padding-right: 10%;
    padding-top: 20%;
    text-align-last: right;
  text-align: justify;
    color: #44444f;
}
#paragraph-header{
    text-align-last: right;
   color: #040229;  /*  #3f1010; */
    font-size: 45px;
    text-shadow: 10px;
    font-weight: 700;
    font-family: cursive;
}
.btn-contact{
background-image: linear-gradient(to right, rgb(218, 42, 42), rgb(241, 241, 110));
   /* // padding: 15px 15px; */
    height: 60px;
    width: 150px;
 font-size: larger;
   font-weight: bold;
    padding-right: 5%;
    text-align: center;
    align-items: center;
    border-style: hidden;
    box-shadow: 3px 2px #585858;
    color: #040229;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}