#header-section {
  background-image: url(./images/banner/banner2.png);
  width: auto;
  height: auto;
  color: rgb(255, 254, 254);
  font-weight: 700;
  background-repeat: no-repeat;
  padding-bottom: 50%;

}
/* Header Section paragraph start*/
#paragraph {
    text-align: center;
    padding-left: 50%;
    padding-right: 10%;
    padding-top: 20%;
    text-align-last: right;
  text-align: justify;
    color: black;
}
#paragraph-header{
    text-align-last: right;
    color: #59473c;
    font-size: 45px;
    text-shadow: 10px;
    font-weight: 700;
    font-family: cursive;

}
